# Postgres service
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_pass
POSTGRES_DB=app_db
POSTGRES_PORT=5432
DB_LOGGING=true

# JWT
JWT_SECRET=secret123

# api-bff service
MAX_FILE_SIZE_MB=10
API_BFF_PORT=3000

# api-consumer service
API_CONSUMER_PORT=3001

# Frontend
FRONTEND_PORT=4200

# Minio Service
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
BUCKET_VIDEO_NAME=video
BUCKET_SCREENSHOT_NAME=screenshot

# Kafka Cluster
KAFKA_BROKER_1=localhost:9092
KAFKA_BROKER_2=localhost:9093
KAFKA_BROKER_3=localhost:9094
KAFKA_BROKERS=localhost:9092,localhost:9093,localhost:9094
KAFKA_BROKERS_INTERNAL=kafka-1:19092,kafka-2:19092,kafka-3:19092
MINIO_KAFKA_TOPIC=upload-video

# Backwards compatibility
KAFKA_HOST_PORT=9092
KAFKA_INTERNAL_PORT=19092
KAFKA_CONTROLLER_PORT=29093

# Grafana
GRAFANA_ADMIN_PASSWORD=admin

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

# SMTP
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=ethereal_user
SMTP_PASS=ethereal_pass
