# api-consumer service
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=app_user
DB_PASSWORD=app_pass
DB_NAME=app_db
DB_LOGGING=false
JWT_SECRET=secret123

#bucket
BUCKET_VIDEO_NAME=video
BUCKET_SCREENSHOT_NAME=screenshot
BUCKET_REGION=us-east-1
URL_MINIO=http://localhost:9000
ACCESS_KEY_ID_MINIO=minioadmin
SECRET_ACCESS_KEY_MINIO=minioadmin

KAFKA_BROKER=localhost:9092